// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@fontsource/roboto/300.css;
@fontsource/roboto/400.css;
@fontsource/roboto/500.css;
@fontsource/roboto/700.css;

html {
	cursor: grab;
}

.hide {
	display: none !important;
}

.container {
	margin: auto;
	width: 100%;
}

section.section {
	min-height: 50vh;
	display: flex;
}

h1 {
	@apply text-3xl font-bold text-gray-800;
	font-size: 2.5rem;
	line-height: normal;
	overflow: visible;
}

h2 {
	@apply text-2xl font-bold text-gray-800;
}

a {
	text-decoration: none;
}

li,
ul {
	@apply list-none;
	margin: 0;
	padding: 0;
}

.text-center {
	text-align: center;
}
